{% extends "base.html" %}
{% block content %}

<div class="container">
  <form action="{{ url_for('add_product') }}" method="post">
    <input type="text" name="name" placeholder="Name" required="required"/>
    <input type="text" name="prod_group" placeholder="Group" required="required"/>
    <input type="text" name="price" placeholder="Price" required="required"/>
    <input type="text" name="desc" placeholder="Description" required="required"/>
    <input type="text" name="img_url" placeholder="Image URL" required="required"/>
    <button type="submit" class="btn btn-primary btn-block btn-large">Add</button>
  </form>
</div>
{% endblock %}