{% extends "base.html" %}
{% block content %}
<br>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <p class="error-message">{{ message }}</p>  
        {% endfor %}
      {% endif %}
{% endwith %}
<form action="{{ url_for('create_table') }}" method="post">
  <p style="float: left;">&nbsp;</p>
  <input type="image" src="{{ url_for('static', filename='img/add_icon.png') }}" style="width: 50px; height: 50px; float: left"  alt="submit" />
  <p style="float: left;">&nbsp;</p>
  <div>
    <input class="input-style" type="text" name="table-title" placeholder="Add New Table" style="width: 200px; height: 50px; " required="required"/> 
  </div>
</form>
<div class="table">
  {% if table %}
  <h1>{{table.title}}<a href="{{ url_for('edit_form',object='table',name=table.title) }}"><img src="{{ url_for('static', filename='img/edit_icon.png') }}" style="width: 35px; height: 35px; float: left; margin-top: 7px;" alt=""></a></h1>
  <form action="{{ url_for('create_column',table_id=table.id) }}" method="post">
    <p style="float: left;">&nbsp;</p>
    <input type="image" src="{{ url_for('static', filename='img/add_icon.png') }}" style="width: 40px; height: 40px; float: left"  alt="submit" />
    <p style="float: left;">&nbsp;</p>
    <div>
      <input class="input-style" type="text" name="column-title" placeholder="Add New Column" style="width: 200px; height: 40px;" required="required"/> 
    </div>
  </form>
  <ol>
      {% if current_user.selected_table_name: %}
        {% for column in columns_list: %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 column">
          <div class="header">
            <p>{{column['column'].title}}<a href="{{ url_for('edit_form',object='column',name=column['column'].title) }}"><img src="{{ url_for('static', filename='img/edit_icon.png') }}" style="width: 20px; height: 20px; float: left;margin-top: 2px;" alt=""></a></p>
          </div>
          <form action="{{ url_for('create_task',column_id=column['column'].id) }}" method="post">
            <p style="float: left;">&nbsp;</p>
            <input type="image" src="{{ url_for('static', filename='img/add_icon.png') }}" style="width: 25px; height: 25px; float: left"  alt="submit" />
            <p style="float: left;">&nbsp;</p>
            <div>
              <input class="input-style" type="text" name="task-title" placeholder="Add New Task" style="width: 70%; height: 20px;" required="required"/> 
            </div>
          </form>    
          <br>
          {% for key, value in column.items() %}
            {% if key == 'tasks': %}
              {% for task in value %}
              <div class="card task-card">
                <div class="card-body">
                  <h5 class="card-title header">{{task.title}}<a href="{{ url_for('edit_form',object='task',name=task.title) }}"><img src="{{ url_for('static', filename='img/edit_icon.png') }}" style="width: 20px; height: 20px; float: left;margin-top: 2px;" alt=""></a></h5>
                  <p class="card-text">{{task.description}}</p>
                </div>
              </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        {% endfor %}
      {% endif %}
  </ol>
  {% endif %}
</div>
{% endblock %}